ipxe:
  lookup:
    pkgs:
      - tftp-server
      - ipxe-bootimgs
      - ipxe-roms-qemu
      - ipxe-roms
      - syslinux
      - syslinux-tftpboot
      - syslinux-extlinux
    locations:
      web_root: '/var/www/html/ipxe'
      tftp_root: '/var/lib/tftpboot/ipxe'
      boot_images: '/usr/share/ipxe'
  copy:
    boot_images:
      - ipxe.lkrn
      - undionly.kpxe
    web_content: salt://files/ipxe/web
  config:
    blah:
      name: blah_other
      source: salt://files/ipxe/templates/blah.ipxe
      template: jinja
      context:
        data_structure:
          blah: 1234
        other_data:
          blah: 1234
