{% import_yaml "ipxe/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {},
    'Arch': {},
    'Gentoo': {},
  }, grain='os_family', merge=salt['pillar.get']('ipxe'))
%}

{% do default_settings.ipxe.update(os_family_map) %}

{% set ipxe_settings = salt['pillar.get'](
    'ipxe',
    default=default_settings.ipxe,
    merge=True,
  )
%}
