{% import_yaml "ipxe/defaults.yaml" as defaults %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'RedHat': {},
    'Arch': {},
    'Gentoo': {},
  }, grain='os_family', merge=salt['pillar.get']('ipxe'))
%}

{% do defaults.ipxe.lookup.update(os_family_map.lookup) if os_family_map.lookup is defined %}

{% set ipxe = defaults.ipxe %}
